- Author: Maximiliano Lopez Salgado
- First Commit: 2023-06-20                      #folowing ISO  8601 Format
- Last Commit: 2023-06-20                       #folowing ISO  8601 Format
- Description: This notebook is used to perform Data Wrangling on the Superstore dataset

## Key Steps in this Data Analysis:

1. **Framing the Question:** 
   - The first step towards any sort of data analysis is to ask the right question(s) from the given data. 
   - Identifying the objective of the analysis makes it easier to decide on the type(s) of data needed to draw conclusions.

2. **Data Wrangling:** 
   - Data wrangling, sometimes referred to as data munging or data pre-processing, is the process of gathering, assessing, and cleaning "raw" data into a form suitable for analysis.


3. **Exploratory Data Analysis (EDA):** 
   - Once the data is collected, cleaned, and processed, it is ready for analysis. 
   - During this phase, you can use data analysis tools and software to understand, interpret, and derive conclusions based on the requirements.

4. **Drawing Conclusions:** 
   - After completing the analysis phase, the next step is to interpret the analysis and draw conclusions. 
   - Three key questions to ask at this stage:
     - Did the analysis answer my original question?
     - Were there any limitations in my analysis that could affect my conclusions?
     - Was the analysis sufficient to support decision-making?

5. **Communicating Results:** 
   - Once data has been explored and conclusions have been drawn, it's time to communicate the findings to the relevant audience. 
   - Effective communication can be achieved through data storytelling, writing blogs, making presentations, or filing reports.

**Note:** The five steps of data analysis are not always followed linearly. The process can be iterative, with steps revisited based on new insights or requirements that arise during the analysis.

In [362]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import os
import warnings

## 1. Data Wrangling

### 1.1 Gathering data

In [363]:
# import csv files 
superstore_df = pd.read_csv('../datasets/Sample-Superstore.csv', encoding='latin1')

### 1.2 Assessing of Data

In [364]:
# Take a look of the data´s shape
display(superstore_df.shape)

(9994, 21)

In [365]:
# Take a look of the data´s info
display(superstore_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

None

In [366]:
# Take a look of the data´s head
display(superstore_df.head())

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [367]:
# Search for all columns names
display(superstore_df.columns)

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [368]:
# Search for NULL values
display(superstore_df.isnull().sum())

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [369]:
# Check the type of information that every column has
display(superstore_df.dtypes)

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

### 1.3 Data Cleaning

### 1.3.1  Remove irrelevant data

The values in the columns are complete, so we don't need to delete any column, nor replace any null value.

### 1.3.2  Remove/replace null values

The values in the columns are complete, so we don't need to delete any column, nor replace any null value.

The values in the columns are complete, so we don't need to calculate the mean of this column

The values in the columns are complete, so we don't need to imput the corresponding values to the null values in thes columns

### 1.3.3 Drop the duplicates, if any

Use duplicate() function to find duplicated data in the datasets

In [370]:
# Find duplicates based on all columns
display(superstore_df[superstore_df.duplicated()].sum())

Row ID           0.0
Order ID         0.0
Order Date       0.0
Ship Date        0.0
Ship Mode        0.0
Customer ID      0.0
Customer Name    0.0
Segment          0.0
Country          0.0
City             0.0
State            0.0
Postal Code      0.0
Region           0.0
Product ID       0.0
Category         0.0
Sub-Category     0.0
Product Name     0.0
Sales            0.0
Quantity         0.0
Discount         0.0
Profit           0.0
dtype: float64

The values on the columns are complete

### 1.3.4 Type conversion

Make sure numbers are stored as numerical data types. A date should be stored as a date object, or a Unix timestamp (number of seconds, and so on).
In this case we already did this.

### 1.3.5 Syntax Errors

In [371]:
# Rename columns by removing spaces and converting to lowercase
new_columns = {col: col.replace(' ', '_').lower() for col in superstore_df.columns}
superstore_df.rename(columns=new_columns, inplace=True)

In [372]:
# Display the updated column names
display(superstore_df.columns)

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub-category',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

### 1.3.6 Outliers

The outliers are values that are significantly different from all other observations. Any data value that lies more than (1.5 * IQR) away from the Q1 and Q3 quartiles is considered an outlier.

In general, an e-commerce dataset obtained from a well-functioning system is less likely to have outliers compared to datasets that involve manual data entry or measurement errors. E-commerce datasets typically capture transactional information, such as customer details, product information, and order-related data, which are less prone to outliers.

However, it's still possible to have outliers in certain scenarios, such as:

Data entry errors: Although automated systems minimize data entry errors, there can still be instances where incorrect or extreme values are recorded.

Measurement errors: If the dataset includes measurements or quantitative data collected manually, there may be measurement errors leading to outliers.

System glitches or anomalies: While rare, system glitches or anomalies can occasionally result in outliers in the data.

Fraudulent activities: In some cases, fraudulent transactions or activities may introduce outliers into the dataset.

Therefore, while it's reasonable to assume that the occurrence of outliers in an e-commerce dataset is relatively low, it's still advisable to examine the data and apply outlier detection techniques to ensure data quality and integrity.

The outlier detection is an iterative process, and there is no one-size-fits-all approach. It requires a combination of domain knowledge, data understanding, and experimentation to determine the most suitable method and threshold for your specific dataset and analysis objectives.

In [373]:
# Create a function to find otliers
dataframes = [superstore_df]

for df in dataframes:
    # Identify numerical columns
    numerical_columns = superstore_df.select_dtypes(include=np.number).columns

    # Define percentiles for outlier detection (e.g., values outside [5th percentile, 95th percentile])
    lower_percentile = 5
    upper_percentile = 95

    for column in numerical_columns:
        # Calculate percentiles for the column
        lower_threshold = np.percentile(df[column], lower_percentile)
        upper_threshold = np.percentile(df[column], upper_percentile)

        # Find rows with outliers in the column
        outlier_rows = (df[column] < lower_threshold) | (df[column] > upper_threshold)

        # Print rows with outliers in the column
        print(superstore_df[outlier_rows])
        print('\n')

      row_id        order_id  order_date   ship_date       ship_mode  \
0          1  CA-2016-152156   11/8/2016  11/11/2016    Second Class
1          2  CA-2016-152156   11/8/2016  11/11/2016    Second Class
2          3  CA-2016-138688   6/12/2016   6/16/2016    Second Class
3          4  US-2015-108966  10/11/2015  10/18/2015  Standard Class
4          5  US-2015-108966  10/11/2015  10/18/2015  Standard Class
...      ...             ...         ...         ...             ...
9989    9990  CA-2014-110422   1/21/2014   1/23/2014    Second Class
9990    9991  CA-2017-121258   2/26/2017    3/3/2017  Standard Class
9991    9992  CA-2017-121258   2/26/2017    3/3/2017  Standard Class
9992    9993  CA-2017-121258   2/26/2017    3/3/2017  Standard Class
9993    9994  CA-2017-119914    5/4/2017    5/9/2017    Second Class

     customer_id     customer_name    segment        country             city  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... postal_code  region       product_id         category sub-category  \
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           product_name     sales  quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      discount    profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[1000 rows x 21 columns]


      row_id        order_id  order_date   ship_date       ship_mode  \
13        14  CA-2016-161389   12/5/2016  12/10/2016  Standard Class
117      118  CA-2015-110457    3/2/2015    3/6/2015  Standard Class
156      157  CA-2015-118948   5/28/2015    6/3/2015  Standard Class
157      158  CA-2014-104269    3/1/2014    3/6/2014    Second Class
163      164  CA-2016-113817   11/7/2016  11/11/2016  Standard Class
...      ...             ...         ...         ...             ...
9936    9937  CA-2017-132955   6/24/2017   6/28/2017  Standard Class
9944    9945  CA-2015-145415   4/12/2015   4/17/2015    Second Class
9967    9968  CA-2017-153871  12/11/2017  12/17/2017  Standard Class
9968    9969  CA-2017-153871  12/11/2017  12/17/2017  Standard Class
9969    9970  CA-2017-153871  12/11/2017  12/17/2017  Standard Class

     customer_id    customer_name      segment        country        city  \
13      IM-15070     Irene Maddox     Consumer  United States     Seattle
117     DK-13090        Dave Kipp     Consumer  United States     Seattle
156     NK-18490     Neil Knudson  Home Office  United States     Seattle
157     DB-13060      Dave Brooks     Consumer  United States     Seattle
163     MJ-17740        Max Jones     Consumer  United States     Seattle
...          ...              ...          ...            ...         ...
9936    SC-20575     Sonia Cooley     Consumer  United States    Cranston
9944    RD-19660   Robert Dilbeck  Home Office  United States     Seattle
9967    RB-19435  Richard Bierner     Consumer  United States  Plainfield
9968    RB-19435  Richard Bierner     Consumer  United States  Plainfield
9969    RB-19435  Richard Bierner     Consumer  United States  Plainfield

      ... postal_code  region       product_id         category sub-category  \
13    ...       98103    West  OFF-BI-10003656  Office Supplies      Binders
117   ...       98103    West  FUR-TA-10001768        Furniture       Tables
156   ...       98105    West  OFF-AR-10001547  Office Supplies          Art
157   ...       98115    West  FUR-CH-10004063        Furniture       Chairs
163   ...       98115    West  OFF-BI-10004002  Office Supplies      Binders
...   ...         ...     ...              ...              ...          ...
9936  ...        2920    East  OFF-BI-10002735  Office Supplies      Binders
9944  ...       98103    West  OFF-ST-10000419  Office Supplies      Storage
9967  ...        7060    East  OFF-BI-10004209  Office Supplies      Binders
9968  ...        7060    East  OFF-BI-10004600  Office Supplies      Binders
9969  ...        7060    East  OFF-AP-10003622  Office Supplies   Appliances

                                           product_name    sales  quantity  \
13          Fellowes PB200 Plastic Comb Binding Machine  407.976         3
117                     Hon Racetrack Conference Tables  787.530         3
156                                          Newell 311    6.630         3
157             Global Deluxe High-Back Manager's Chair  457.568         2
163     Wilson Jones International Size A4 Ring Binders   27.680         2
...                                                 ...      ...       ...
9936                   GBC Prestige Therm-A-Bind Covers  102.930         3
9944                         Rogers Jumbo File, Granite   40.740         3
9967            Fellowes Twister Kit, Gray/Clear, 3/pkg   40.200         5
9968          Ibico Ibimaster 300 Manual Binding System  735.980         2
9969  Bravo II Megaboss 12-Amp Hard Body Upright, Re...   22.750         7

      discount    profit
13         0.2  132.5922
117        0.0  165.3813
156        0.0    1.7901
157        0.2   51.4764
163        0.2    9.6880
...        ...       ...
9936       0.0   48.3771
9944       0.0    0.4074
9967       0.0   18.0900
9968       0.0  331.1910
9969       0.0    6.5975

[948 rows x 21 columns]


      row_id        order_id  order_date   ship_date       ship_mode  \
3          4  US-2015-108966  10/11/2015  10/18/2015  Standard Class
10        11  CA-2014-115812    6/9/2014   6/14/2014  Standard Class
15        16  US-2015-118983  11/22/2015  11/26/2015  Standard Class
24        25  CA-2015-106320   9/25/2015   9/30/2015  Standard Class
27        28  US-2015-150630   9/17/2015   9/21/2015  Standard Class
...      ...             ...         ...         ...             ...
9929    9930  CA-2016-129630    9/4/2016    9/4/2016        Same Day
9942    9943  CA-2014-143371  12/28/2014    1/3/2015  Standard Class
9945    9946  CA-2014-111157    3/2/2014    3/6/2014  Standard Class
9947    9948  CA-2017-121559    6/1/2017    6/3/2017    Second Class
9948    9949  CA-2017-121559    6/1/2017    6/3/2017    Second Class

     customer_id    customer_name      segment        country  \
3       SO-20335   Sean O'Donnell     Consumer  United States
10      BH-11710  Brosina Hoffman     Consumer  United States
15      HP-14815    Harold Pawlan  Home Office  United States
24      EB-13870      Emily Burns     Consumer  United States
27      TB-21520  Tracy Blumstein     Consumer  United States
...          ...              ...          ...            ...
9929    IM-15055    Ionia McGrath     Consumer  United States
9942    MD-17350    Maribeth Dona     Consumer  United States
9945    NH-18610    Nicole Hansen    Corporate  United States
9947    HW-14935  Helen Wasserman    Corporate  United States
9948    HW-14935  Helen Wasserman    Corporate  United States

                 city  ... postal_code   region       product_id  \
3     Fort Lauderdale  ...       33311    South  FUR-TA-10000577
10        Los Angeles  ...       90032     West  FUR-TA-10001539
15         Fort Worth  ...       76106  Central  OFF-BI-10000756
24               Orem  ...       84057     West  FUR-TA-10000577
27       Philadelphia  ...       19140     East  FUR-BO-10004834
...               ...  ...         ...      ...              ...
9929    San Francisco  ...       94122     West  TEC-CO-10003763
9942          Anaheim  ...       92804     West  OFF-ST-10001128
9945     Philadelphia  ...       19120     East  OFF-PA-10000327
9947     Indianapolis  ...       46203  Central  FUR-CH-10003746
9948     Indianapolis  ...       46203  Central  OFF-AP-10002945

             category sub-category  \
3           Furniture       Tables
10          Furniture       Tables
15    Office Supplies      Binders
24          Furniture       Tables
27          Furniture    Bookcases
...               ...          ...
9929       Technology      Copiers
9942  Office Supplies      Storage
9945  Office Supplies        Paper
9947        Furniture       Chairs
9948  Office Supplies   Appliances

                                           product_name      sales  quantity  \
3         Bretford CR4500 Series Slim Rectangular Table   957.5775         5
10             Chromcraft Rectangular Conference Tables  1706.1840         9
15     Storex DuraTech Recycled Plastic Frosted Binders     2.5440         3
24        Bretford CR4500 Series Slim Rectangular Table  1044.6300         3
27    Riverside Palais Royal Lawyers Bookcase, Royal...  3083.4300         7
...                                                 ...        ...       ...
9929                 Canon PC1060 Personal Laser Copier  2799.9600         5
9942        Carina Mini System Audio Rack, Model AR050B   998.8200         9
9945                                         Xerox 1971     3.4240         1
9947  Hon 4070 Series Pagoda Round Back Stacking Chairs  1925.8800         6
9948  Honeywell Enviracaire Portable HEPA Air Cleane...  2405.2000         8

      discount     profit
3         0.45  -383.0310
10        0.20    85.3092
15        0.80    -3.8160
24        0.00   240.2649
27        0.50 -1665.0522
...        ...        ...
9929      0.20   944.9865
9942      0.00    29.9646
9945      0.20     1.0700
9947      0.00   539.2464
9948      0.00   793.7160

[999 rows x 21 columns]


      row_id        order_id  order_date   ship_date       ship_mode  \
10        11  CA-2014-115812    6/9/2014   6/14/2014  Standard Class
37        38  CA-2015-117415  12/27/2015  12/31/2015  Standard Class
113      114  CA-2014-115259   8/25/2014   8/27/2014    Second Class
122      123  CA-2016-103730   6/12/2016   6/15/2016     First Class
132      133  US-2017-164147    2/2/2017    2/5/2017     First Class
...      ...             ...         ...         ...             ...
9895    9896  CA-2014-115049   9/26/2014   10/1/2014  Standard Class
9941    9942  CA-2017-164028  11/24/2017  11/30/2017  Standard Class
9942    9943  CA-2014-143371  12/28/2014    1/3/2015  Standard Class
9979    9980  US-2016-103674   12/6/2016  12/10/2016  Standard Class
9984    9985  CA-2015-100251   5/17/2015   5/23/2015  Standard Class

     customer_id      customer_name      segment        country  \
10      BH-11710    Brosina Hoffman     Consumer  United States
37      SN-20710       Steve Nguyen  Home Office  United States
113     RC-19960         Ryan Crowe     Consumer  United States
122     SC-20725  Steven Cartwright     Consumer  United States
132     DW-13585     Dorothy Wardle    Corporate  United States
...          ...                ...          ...            ...
9895    MM-17920      Michael Moore     Consumer  United States
9941    JL-15835           John Lee     Consumer  United States
9942    MD-17350      Maribeth Dona     Consumer  United States
9979    AP-10720         Anne Pryor  Home Office  United States
9984    DV-13465   Dianna Vittorini     Consumer  United States

               city  ... postal_code   region       product_id  \
10      Los Angeles  ...       90032     West  FUR-TA-10001539
37          Houston  ...       77041  Central  OFF-EN-10002986
113        Columbus  ...       43229     East  OFF-FA-10000621
122      Wilmington  ...       19805     East  OFF-EN-10002500
132        Columbus  ...       43229     East  OFF-FA-10002780
...             ...  ...         ...      ...              ...
9895        Chicago  ...       60623  Central  TEC-AC-10004859
9941  San Francisco  ...       94122     West  TEC-AC-10001772
9942        Anaheim  ...       92804     West  OFF-ST-10001128
9979    Los Angeles  ...       90032     West  OFF-BI-10002026
9984     Long Beach  ...       11561     East  OFF-LA-10003766

             category sub-category  \
10          Furniture       Tables
37    Office Supplies    Envelopes
113   Office Supplies    Fasteners
122   Office Supplies    Envelopes
132   Office Supplies    Fasteners
...               ...          ...
9895       Technology  Accessories
9941       Technology  Accessories
9942  Office Supplies      Storage
9979  Office Supplies      Binders
9984  Office Supplies       Labels

                                           product_name     sales  quantity  \
10             Chromcraft Rectangular Conference Tables  1706.184         9
37    #10-4 1/8" x 9 1/2" Premium Diagonal Seam Enve...   113.328         9
113            OIC Colored Binder Clips, Assorted Sizes    40.096        14
122        Globe Weis Peel & Seel First Class Envelopes   115.020         9
132                                             Staples    21.456         9
...                                                 ...       ...       ...
9895                 Maxell Pro 80 Minute CD-R, 10/Pack   153.824        11
9941  Memorex Mini Travel Drive 16 GB USB 2.0 Flash ...   223.580        14
9942        Carina Mini System Audio Rack, Model AR050B   998.820         9
9979                  Ibico Recycled Linen-Style Covers   437.472        14
9984                     Self-Adhesive Removable Labels    31.500        10

      discount    profit
10         0.2   85.3092
37         0.2   35.4150
113        0.2   14.5348
122        0.0   51.7590
132        0.2    6.9732
...        ...       ...
9895       0.2   38.4560
9941       0.0   87.1962
9942       0.0   29.9646
9979       0.2  153.1152
9984       0.0   15.1200

[428 rows x 21 columns]


      row_id        order_id  order_date   ship_date       ship_mode  \
14        15  US-2015-118983  11/22/2015  11/26/2015  Standard Class
15        16  US-2015-118983  11/22/2015  11/26/2015  Standard Class
75        76  US-2017-118038   12/9/2017  12/11/2017     First Class
101      102  CA-2016-158568   8/29/2016    9/2/2016  Standard Class
169      170  CA-2014-139892    9/8/2014   9/12/2014  Standard Class
...      ...             ...         ...         ...             ...
9794    9795  CA-2014-127166   5/21/2014   5/23/2014    Second Class
9795    9796  CA-2016-125920   5/21/2016   5/28/2016  Standard Class
9808    9809  CA-2017-145093   7/21/2017   7/26/2017  Standard Class
9835    9836  CA-2016-126627  10/10/2016  10/12/2016     First Class
9920    9921  CA-2016-149272   3/15/2016   3/19/2016  Standard Class

     customer_id     customer_name      segment        country         city  \
14      HP-14815     Harold Pawlan  Home Office  United States   Fort Worth
15      HP-14815     Harold Pawlan  Home Office  United States   Fort Worth
75      KB-16600       Ken Brennan    Corporate  United States      Houston
101     RB-19465      Rick Bensley  Home Office  United States      Chicago
169     BM-11140      Becky Martin     Consumer  United States  San Antonio
...          ...               ...          ...            ...          ...
9794    KH-16360  Katherine Hughes     Consumer  United States      Houston
9795    SH-19975     Sally Hughsby    Corporate  United States      Chicago
9808    PT-19090     Pete Takahito     Consumer  United States      Chicago
9835    WB-21850     William Brown     Consumer  United States     La Porte
9920    MY-18295   Muhammed Yedwab    Corporate  United States        Bryan

      ... postal_code   region       product_id         category sub-category  \
14    ...       76106  Central  OFF-AP-10002311  Office Supplies   Appliances
15    ...       76106  Central  OFF-BI-10000756  Office Supplies      Binders
75    ...       77041  Central  OFF-BI-10004182  Office Supplies      Binders
101   ...       60610  Central  OFF-BI-10002609  Office Supplies      Binders
169   ...       78207  Central  OFF-AP-10002518  Office Supplies   Appliances
...   ...         ...      ...              ...              ...          ...
9794  ...       77070  Central  OFF-BI-10000977  Office Supplies      Binders
9795  ...       60610  Central  OFF-BI-10003429  Office Supplies      Binders
9808  ...       60623  Central  OFF-BI-10001116  Office Supplies      Binders
9835  ...       77571  Central  OFF-BI-10001597  Office Supplies      Binders
9920  ...       77803  Central  OFF-BI-10004233  Office Supplies      Binders

                                           product_name    sales  quantity  \
14    Holmes Replacement Filter for HEPA Air Cleaner...   68.810         5
15     Storex DuraTech Recycled Plastic Frosted Binders    2.544         3
75                                      Economy Binders    1.248         3
101       Avery Hidden Tab Dividers for Binding Systems    1.788         3
169        Kensington 7 Outlet MasterPiece Power Center  177.980         5
...                                                 ...      ...       ...
9794                 Ibico Plastic Spiral Binding Combs   18.240         3
9795  Cardinal HOLDit! Binder Insert Strips,Extra St...    3.798         3
9808      Wilson Jones 1" Hanging DublLock Ring Binders    2.112         2
9835  Wilson Jones Ledger-Size, Piano-Hinge Binder, ...   16.392         2
9920  GBC Pre-Punched Binding Paper, Plastic, White,...   22.386         7

      discount    profit
14         0.8 -123.8580
15         0.8   -3.8160
75         0.8   -1.9344
101        0.8   -3.0396
169        0.8 -453.8490
...        ...       ...
9794       0.8  -31.0080
9795       0.8   -5.8869
9808       0.8   -3.3792
9835       0.8  -26.2272
9920       0.8  -35.8176

[300 rows x 21 columns]


      row_id        order_id  order_date   ship_date       ship_mode  \
1          2  CA-2016-152156   11/8/2016  11/11/2016    Second Class

After performing outlier analysis we indentified that because of the nature of the info, there are not relevant outliers, althought numerically there are some that exists.

### 1.3.7 In-record & cross-datasets errors

These errors result from having two or more values in the same row or across datasets that contradict with each other. For example, if we have a dataset about the cost of living in cities. The total column must be equivalent to the sum of rent, transport, and food.

## Divide the 'Superstore_DF' into smaller DataFrames

To prepare for creating a database and future tables, we will split the Superstore_df into smaller DataFrames. If needed, we will also create new columns to serve as primary keys for the new tables. This separation and transformation will facilitate the organization and structure of the data for efficient database management and query operations.

In [374]:
# Display the updated column names
display(superstore_df.columns)

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub-category',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [375]:
superstore_df.shape

(9994, 21)

### Customer Table

In [376]:
# Create a df called customer and its own primary key column (called 'customer_id')
customer = superstore_df[['customer_id', 'customer_name', 'segment']]       #------> customer_id = Primary Key

### Product Table

In [377]:
# Create a df called product
product = superstore_df[['product_id', 'category', 'sub-category', 'product_name']]      ##------> product_id = Primary Key

### Sale Table

In [378]:
# Create a df called sale
sale = superstore_df[['sales', 'quantity', 'discount', 'profit']]      
sale = sale.rename(columns={'sales': 'price'})
sale['transaction_id'] = np.nan        #------> transaction_id = This will be the Primary Key

# Generate the transaction IDs
sale['transaction_id'] = pd.Series(range(1, len(sale) + 1)).apply(lambda x: 'Tr-' + str(x).zfill(5))

# Print the updated DataFrame
print(sale)

         price  quantity  discount    profit transaction_id
0     261.9600         2      0.00   41.9136       Tr-00001
1     731.9400         3      0.00  219.5820       Tr-00002
2      14.6200         2      0.00    6.8714       Tr-00003
3     957.5775         5      0.45 -383.0310       Tr-00004
4      22.3680         2      0.20    2.5164       Tr-00005
...        ...       ...       ...       ...            ...
9989   25.2480         3      0.20    4.1028       Tr-09990
9990   91.9600         2      0.00   15.6332       Tr-09991
9991  258.5760         2      0.20   19.3932       Tr-09992
9992   29.6000         4      0.00   13.3200       Tr-09993
9993  243.1600         2      0.00   72.9480       Tr-09994

[9994 rows x 5 columns]

### Geolocation Table

In [379]:
geolocation = superstore_df[['country', 'city','state','postal_code','region']]
geolocation['geolocation_id'] = np.nan           #------> Primary Key

# Generate the geolocation IDs
geolocation['geolocation_id'] = pd.Series(range(1, len(geolocation) + 1)).apply(lambda x: 'geo-' + str(x).zfill(5))

# Print the updated DataFrame
print(geolocation)

            country             city       state  postal_code region  \
0     United States        Henderson    Kentucky        42420  South
1     United States        Henderson    Kentucky        42420  South
2     United States      Los Angeles  California        90036   West
3     United States  Fort Lauderdale     Florida        33311  South
4     United States  Fort Lauderdale     Florida        33311  South
...             ...              ...         ...          ...    ...
9989  United States            Miami     Florida        33180  South
9990  United States       Costa Mesa  California        92627   West
9991  United States       Costa Mesa  California        92627   West
9992  United States       Costa Mesa  California        92627   West
9993  United States      Westminster  California        92683   West

     geolocation_id
0         geo-00001
1         geo-00002
2         geo-00003
3         geo-00004
4         geo-00005
...             ...
9989      geo-09990
9990      geo-09991
9991      geo-09992
9992      geo-09993
9993      geo-09994

[9994 rows x 6 columns]

/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_2777/3429875246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geolocation['geolocation_id'] = np.nan           #------> Primary Key
/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_2777/3429875246.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geolocation['geolocation_id'] = pd.Series(range(1, len(geolocation) + 1)).apply(lambda x: 'geo-' + str(x).zfill(5))

### Shipment Table

In [380]:
# Create a df called shipment and its own primary key column (called 'shipment_id')
shipment = superstore_df[['ship_date', 'ship_mode']]      
shipment['ship_id'] = np.nan                                   #------> Primary Key
shipment['geolocation_number'] = np.nan                           #------> Foreign key

# Generate the ship IDs
shipment['ship_id'] = pd.Series(range(1, len(shipment) + 1)).apply(lambda x: 'ship-' + str(x).zfill(5))

# Fill the null values in 'shipment['geolocation_number']' with the values from 'geolocation['geolocation_id']'
shipment['geolocation_number'].fillna(geolocation['geolocation_id'], inplace=True)

# Print the updated DataFrame
print(shipment)

       ship_date       ship_mode     ship_id geolocation_number
0     11/11/2016    Second Class  ship-00001          geo-00001
1     11/11/2016    Second Class  ship-00002          geo-00002
2      6/16/2016    Second Class  ship-00003          geo-00003
3     10/18/2015  Standard Class  ship-00004          geo-00004
4     10/18/2015  Standard Class  ship-00005          geo-00005
...          ...             ...         ...                ...
9989   1/23/2014    Second Class  ship-09990          geo-09990
9990    3/3/2017  Standard Class  ship-09991          geo-09991
9991    3/3/2017  Standard Class  ship-09992          geo-09992
9992    3/3/2017  Standard Class  ship-09993          geo-09993
9993    5/9/2017    Second Class  ship-09994          geo-09994

[9994 rows x 4 columns]

/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_2777/692029782.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shipment['ship_id'] = np.nan                                   #------> Primary Key
/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_2777/692029782.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shipment['geolocation_number'] = np.nan                           #------> Foreign key
/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_2777/692029782.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shipment['ship_id'] = pd.Series(range(1, len(shipment) + 1)).apply(lambda x: 'ship-' + str(x).zfill(5))
/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_2777/692029782.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shipment['geolocation_number'].fillna(geolocation['geolocation_id'], inplace=True)

### Order Table

In [381]:
# Create a df called order and its own primary key column (called 'order_id'), and 3 foreign keys (called:'shipment_code', 'customer_id', 'product')
order = superstore_df[['order_id', 'order_date']]       #------> order_id = Primary Key
order['customer_number'] = np.nan       #------> Foreign key
order['product_number'] = np.nan        #------> Foreign key
order['ship_number'] = np.nan           #------> Foreign key
order['transaction_number'] = np.nan    #------> Foreign key

# Fill the null values in 'order['customer_number']' with the values from 'customer['customer_id']'
order['customer_number'].fillna(customer['customer_id'], inplace=True)

# Fill the null values in 'order['product_number']' with the values from 'product['product_id'
order['product_number'].fillna(product['product_id'], inplace=True)

# Fill the null values in 'order['ship_number']]' with the values from 'shipment['ship_id']'
order['ship_number'].fillna(shipment['ship_id'], inplace=True)

# Fill the null values in 'order['transaction_number']' with the values from 'sale['transaction_id']'
order['transaction_number'].fillna(sale['transaction_id'], inplace=True)

# Print the updated DataFrame
print(order)

            order_id  order_date customer_number   product_number ship_number  \
0     CA-2016-152156   11/8/2016        CG-12520  FUR-BO-10001798  ship-00001
1     CA-2016-152156   11/8/2016        CG-12520  FUR-CH-10000454  ship-00002
2     CA-2016-138688   6/12/2016        DV-13045  OFF-LA-10000240  ship-00003
3     US-2015-108966  10/11/2015        SO-20335  FUR-TA-10000577  ship-00004
4     US-2015-108966  10/11/2015        SO-20335  OFF-ST-10000760  ship-00005
...              ...         ...             ...              ...         ...
9989  CA-2014-110422   1/21/2014        TB-21400  FUR-FU-10001889  ship-09990
9990  CA-2017-121258   2/26/2017        DB-13060  FUR-FU-10000747  ship-09991
9991  CA-2017-121258   2/26/2017        DB-13060  TEC-PH-10003645  ship-09992
9992  CA-2017-121258   2/26/2017        DB-13060  OFF-PA-10004041  ship-09993
9993  CA-2017-119914    5/4/2017        CC-12220  OFF-AP-10002684  ship-09994

     transaction_number
0              Tr-00001
1              Tr-00002
2              Tr-00003
3              Tr-00004
4              Tr-00005
...                 ...
9989           Tr-09990
9990           Tr-09991
9991           Tr-09992
9992           Tr-09993
9993           Tr-09994

[9994 rows x 6 columns]

/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_2777/751927266.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order['customer_number'] = np.nan       #------> Foreign key
/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_2777/751927266.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order['product_number'] = np.nan        #------> Foreign key
/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_2777/751927266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order['ship_number'] = np.nan           #------> Foreign key
/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_2777/751927266.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order['transaction_number'] = np.nan    #------> Foreign key
/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_2777/751927266.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order['customer_number'].fillna(customer['customer_id'], inplace=True)
/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_2777/751927266.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order['product_number'].fillna(product['product_id'], inplace=True)
/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_2777/751927266.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order['ship_number'].fillna(shipment['ship_id'], inplace=True)
/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_2777/751927266.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order['transaction_number'].fillna(sale['transaction_id'], inplace=True)

## Export the cleaned data

In [382]:
# Create a function to export the cleaned data to perform EDA in the future
# Specify the path to the dataset folder
folder_path = "../datasets/"

dataframes = ['product', 'customer', 'order', 'shipment', 'geolocation',
              'sale']

file_names = ['product.csv', 'customer.csv', 'order.csv',
              'shipment.csv', 'geolocation.csv',
              'sale.csv']

# for df_name, file_name in zip(dataframes, file_names):  
#     # Get the DataFrame object by its name           --------> Commented out to avoid re writing of the files
#     df = globals()[df_name]
#     # Get the full path of the output file
#     output_file_path = os.path.join(folder_path, file_name)
#     # Save the DataFrame to CSV
#     df.to_csv(output_file_path, index=False)