- Author: Maximiliano Lopez Salgado
- First Commit: 2023-06-20                      #folowing ISO  8601 Format
- Last Commit: 2023-06-20                       #folowing ISO  8601 Format
- Description: This notebook is used to perform Data Wrangling on the Superstore dataset

## Key Steps in this Data Analysis:

1. **Framing the Question:** 
   - The first step towards any sort of data analysis is to ask the right question(s) from the given data. 
   - Identifying the objective of the analysis makes it easier to decide on the type(s) of data needed to draw conclusions.

2. **Data Wrangling:** 
   - Data wrangling, sometimes referred to as data munging or data pre-processing, is the process of gathering, assessing, and cleaning "raw" data into a form suitable for analysis.

3. **Exploratory Data Analysis (EDA):** 
   - Once the data is collected, cleaned, and processed, it is ready for analysis. 
   - During this phase, you can use data analysis tools and software to understand, interpret, and derive conclusions based on the requirements.

4. **Drawing Conclusions:** 
   - After completing the analysis phase, the next step is to interpret the analysis and draw conclusions. 
   - Three key questions to ask at this stage:
     - Did the analysis answer my original question?
     - Were there any limitations in my analysis that could affect my conclusions?
     - Was the analysis sufficient to support decision-making?

5. **Communicating Results:** 
   - Once data has been explored and conclusions have been drawn, it's time to communicate the findings to the relevant audience. 
   - Effective communication can be achieved through data storytelling, writing blogs, making presentations, or filing reports.

**Note:** The five steps of data analysis are not always followed linearly. The process can be iterative, with steps revisited based on new insights or requirements that arise during the analysis.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import os
import warnings

## 1. Data Wrangling

### 1.1 Gathering data

In [5]:
# import csv files 
superstore_df = pd.read_csv('../datasets/Sample-Superstore.csv', encoding='latin1')

### 1.2 Assessing of Data

In [6]:
# Take a look of the data´s shape
display(superstore_df.shape)

(9994, 21)

In [7]:
# Take a look of the data´s info
display(superstore_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

None

In [8]:
# Take a look of the data´s head
display(superstore_df.head())

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [10]:
# Search for all columns names
display(superstore_df.columns)

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [ ]:
# Search for NULL values
display(customers.isnull().sum())

In [ ]:
# Check the type of information that every column has
display(df.dtypes)

### 1.3 Data Cleaning

### 1.3.1  Remove irrelevant data

In [ ]:
# Remove irrelevant data in the 'x' column. (i.e: "In this case, we will drop the colums that have more null values than valid values")
df = df.drop(columns=['column1', 'column2'])

### 1.3.2  Remove/replace null values

In [ ]:
# Calculate the mean of the columns with missing values 
# Check datatype of the columns
display(df['column1'].dtype)  

# Transform the columns into datetime type
df['column1'] = pd.to_datetime(df['column1'])

In [ ]:
# Calculate the mean of this columns
mean_df = df['column1'].mean()
display(mean_df)

In [ ]:
# Imput the corresponding values to the null values in this columns with the mean (or the best method for each case)
# check if null values exist in order_data dataset
df.isnull().sum()['column1'].fillna(mean_df, inplace=True)

In [ ]:
# Check if null values exist in order_data dataset
df.isnull().sum()

#### 1.3.2.2 Dataset's columns types

In [ ]:
# Calculate the mean of the columns with missing values 
# Check datatype of the columns (they need to be in this case datime type)
display(df['column1'].dtype)

In [ ]:
# Calculate the mean of this columns
mean_column1 = df['column1'].mean()

In [ ]:
# Imput the corresponding values to the null values in this columns with the mean
df['column1'].fillna(mean_column1, inplace=True)

In [ ]:
# Check again if null values exist in order_data dataset
df.isnull().sum()

### 1.3.3 Drop the duplicates, if any

Use duplicate() function to find duplicated data in the datasets

In [ ]:
# Find duplicates based on all columns
display(df[df.duplicated()].sum())

In [ ]:
# drop duplicates in df 
df = df.drop_duplicates()

### 1.3.4 Type conversion

Make sure numbers are stored as numerical data types. A date should be stored as a date object, or a Unix timestamp (number of seconds, and so on).
In this case we already did this.

### 1.3.5 Syntax Errors

### 1.3.6 Outliers

They are values that are significantly different from all other observations. Any data value that lies more than (1.5 * IQR) away from the Q1 and Q3 quartiles is considered an outlier.

In general, an e-commerce dataset obtained from a well-functioning system is less likely to have outliers compared to datasets that involve manual data entry or measurement errors. E-commerce datasets typically capture transactional information, such as customer details, product information, and order-related data, which are less prone to outliers.

However, it's still possible to have outliers in certain scenarios, such as:

Data entry errors: Although automated systems minimize data entry errors, there can still be instances where incorrect or extreme values are recorded.

Measurement errors: If the dataset includes measurements or quantitative data collected manually, there may be measurement errors leading to outliers.

System glitches or anomalies: While rare, system glitches or anomalies can occasionally result in outliers in the data.

Fraudulent activities: In some cases, fraudulent transactions or activities may introduce outliers into the dataset.

Therefore, while it's reasonable to assume that the occurrence of outliers in an e-commerce dataset is relatively low, it's still advisable to examine the data and apply outlier detection techniques to ensure data quality and integrity.

Remember that outlier detection is an iterative process, and there is no one-size-fits-all approach. It requires a combination of domain knowledge, data understanding, and experimentation to determine the most suitable method and threshold for your specific dataset and analysis objectives.

In [ ]:
# Create a function to find otliers
dataframes = [df, df1, df2, df3,
              df4]

for df in dataframes:
    # Identify numerical columns
    numerical_columns = df.select_dtypes(include=np.number).columns

    # Define percentiles for outlier detection (e.g., values outside [5th percentile, 95th percentile])
    lower_percentile = 5
    upper_percentile = 95

    for column in numerical_columns:
        # Calculate percentiles for the column
        lower_threshold = np.percentile(df[column], lower_percentile)
        upper_threshold = np.percentile(df[column], upper_percentile)

        # Find rows with outliers in the column
        outlier_rows = (df[column] < lower_threshold) | (df[column] > upper_threshold)

        # Print rows with outliers in the column
        print(df[outlier_rows])
        print('\n')

After performing outlier analysis we indentified that because of the nature of the info, there are not relevant outliers, althought numerically there are some that exists.

### 1.3.7 In-record & cross-datasets errors

These errors result from having two or more values in the same row or across datasets that contradict with each other. For example, if we have a dataset about the cost of living in cities. The total column must be equivalent to the sum of rent, transport, and food.

## Export the cleaned data

In [ ]:
# Create a function to export the cleaned data to perform EDA in the future
# Specify the path to the dataset folder
folder_path = "../datasets/"

dataframes = [df, df1, df2, df3,
              df4]

file_names = ['df.csv', 'df1.csv', 'df3.csv',
              'df4.csv']

for df, file_name in zip(dataframes, file_names):
    # Add the prefix "cleaned_" to the file name
    cleaned_file_name = "cleaned_" + file_name
    # Get the full path of the output file
    output_file_path = os.path.join(folder_path, cleaned_file_name)
    # Save the cleaned DataFrame to CSV
    df.to_csv(output_file_path, index=False)